<footer class="footer">
    <div class="container">
    <div class="content has-text-centered">
        <br/>
        <div class="spacer">
            <ul>
              <li><a routerLink=''>Contact</a></li>
              <li><a routerLink=''>Privacy Policy</a></li>
              <li><a routerLink=''>Terms & Conditions</a></li>
              <li><a routerLink="">Best Database Provider India</a></li>
              <li><a href="" style="float: right; margin-right: -400px;">DataWebster's</a></li>
            </ul>
          </div>
    </div>
    </div>
    </footer>