      <nav class="navbar" style="float:right;">
        <div class="container-fluid">
          <ul>
            <li><a routerLink='/home'>Home</a></li>
            <li><a routerLink='/about'>About</a></li>
            <li><a routerLink='/contact'>Contact</a></li>
            <li><a routerLink="/company">Company-Info</a></li>
          </ul>
        </div>
      </nav>
      
      <div>
        <img src="assets\image\blue-coneect.png" style=" width: 101%;
            height: 302px;margin-left: -4px;">
        <label class="box">
          <input type="text" placeholder="Search for Blog,Comapanies or Brand names"
            style="width: 500px; height: 50px; border-radius: 35px;">
            <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
        </label>
      </div>
      
      <div class="container">
        <div id="left">
      
      <select class="selectoption" style="margin-left: 18px;">
        <option value="volvo">Select Industry</option>
        <option value="saab">Adversting,Media</option>
        <option value="mercedes">BFSI</option>
        <option value="audi">Chemical</option>
      </select>
      
      <select class="selectoption1">
        <option value="volvo">Select City</option>
        <option value="saab">Adversting,Media</option>
        <option value="mercedes">BFSI</option>
        <option value="audi">Chemical</option>
      </select>
      
      
      <select class="selectoption1">
        <option value="volvo">Select Sector</option>
        <option value="saab">Adversting,Media</option>
        <option value="mercedes">BFSI</option>
        <option value="audi">Chemical</option>
      </select>
      
      <button type="button" class="btn btn-primary">Filter</button>
      <br /><br />
      
      <div class="container">
        <div class="jumbtron">
          <img src="assets\image\Masala-Manger-Masala_Manger.png">
        </div>
      </div>
      
      <div class="divcontent">
        <div routerLink="/masala-manger"> Masala Manger Private Limited</div>
        <div>Food, FMCG, Agriculture</div>
        <div>Bangalore</div>
      </div>
      
    
      
      <br /><br /><br /><br /><br />
      
      <div class="container">
        <div class="jumbtron">
          <img src="assets\image\iCON-150.png">
        </div>
      </div>
      
      <div class="divcontent">
        <div routerLink="/information-tech">Twenty First Century Offices Private Limited</div>
        <div>Information Technology(IT)</div>
        <div>Bangalore</div>
      </div>
      
      
      <br /><br /><br /><br /><br />
      
      <div class="container">
        <div class="jumbtron">
          <img src="assets\image\Amtek-Textiles-Amtextiles (1).jpg" style="height: 122px;">
        </div>
      </div>
      
      <div class="divcontent">
        <div routerLink="/amtek">Amtek Textiles Private Limited</div>
        <div>Garment, Textile</div>
        <div>Bangalore</div>
      </div>

    </div> 

    <div id="right">
     <h3 style="margin-top: 170px;">About us</h3> 
    <p style="margin-top: 30px;"> The Blog formed for the sole purpose to connect with business with target customers,
    we are database Provider Company, which includes high quality reliable, durable data for the helping businesses across the globe.</p>
    
    <br/><br/>
    <h3>Categories</h3><br/>
    <select class="category">
        <option value="volvo">Select Category</option>
        <option value="saab">Corporate Database</option>
        <option value="mercedes">Database</option>
        <option value="audi">Database for business</option>
      </select>

      <br/><br/><br/><br/><br/>
      <h3>Connect us on</h3>
      <br/>
      <a href="https://www.facebook.com/Bestdataprovider1/" class="fa fa-facebook"></a>
      <a href="https://twitter.com/BDataprovider" class="fa fa-twitter"></a>
      <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQGLYIfEKpjpuwAAAW9A_Qt4fSV-D0YFzbxtjYGBPheQT0C_Bxx_zd0PWvODZEkYzxfYqwX36sRmxAz-K9yr2YwLTTLvQtgCYu6vdWXDSWGWJYGHhRZv5hUJDpOfad6ZcXiyrQY=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fbest-data-provider%2F" class="fa fa-linkedin"></a>
      <a href="https://www.instagram.com/bestdataprovider/" class="fa fa-instagram"></a>
      <a href="https://in.pinterest.com/BestDataProvider/" class="fa fa-pinterest"></a>
      
    </div>
    </div>

      <br/><br/><br/><br/><br/><br/><br/>

      <app-footer></app-footer>